<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="1800">
    <properties>
        <!-- 数据持久化存储根路径 要与finalCfg中的终端数据存储目录（dataDir）子目录logs保持一致 -->
        <!--<property name="data_LOG_base_dir">${ctx:data_LOG_base_dir}</property>-->
        <property name="data_LOG_base_dir">./log/</property>
    </properties>
    <appenders>
        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}[%p] [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </appenders>

    <loggers>
        <!-- 将业务dao接口填写进去,并用控制台输出即可 -->

        <root level="info">
            <appender-ref ref="consolePrint" />
        </root>
    </loggers>
</Configuration>